@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap&subset=latin-ext');

$primary: #e6a000;

// Import Bulma
@import "./bulma/bulma.sass";

body {
	color: white;
	min-height: 100%;
	font-family: "Noto Sans", sans-serif;
}
.logo {
	background-color: $black-bis;
	svg {
		max-width: 500px;
	}
	text-align: center;
	padding: 6rem 3rem 3rem;
	@include desktop {
		padding: 6rem 6rem 3rem;
	}
}

#latest {
	background-color: $black-bis;
	.card {
		max-width: 50rem;
		transition: transform 0.4s;
		&:hover {
			transform: scale(1.05);
			cursor: pointer;
		}
	}
	.container {
		display: flex;
		justify-content: center;
	}
}


#previous {
	.card {
		transition: transform 0.4s;
		&:hover {
			transform: scale(1.05);
			cursor: pointer;
		}
	}
}

.card.has-same-height {
	display: flex;
	flex-direction: column;
	height: 100%;
	> .card-footer {
		margin-top: auto;
	}
}

.has-margin-top {
	margin-top: 2rem;
}

.has-text-underlined {
	text-decoration: underline;
}

.yt-description {
	white-space: pre-wrap;
	font-size: small;
	max-height: 7.8em;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
}
